

.flexContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
}

.card {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  /* border-width: 1px;
  border-color: gainsboro;
  border-style: solid;
  padding: 10px; */
}