.app {
  margin: 20px;
}

.button {
  margin: 10px;
}

.flexContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
}

.card {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  /* border-width: 1px;
  border-color: gainsboro;
  border-style: solid;
  padding: 10px; */
}

.green {
  border-width: 3px !important;
  border-color: lightgreen !important;
  border-style: solid !important;
  background-color: honeydew !important;
}

.radioButtonGroup {
  padding: 10px;
}

#radioButtonTitle {
  margin-bottom: 0;
}

.radioButton {
  margin-left: 1em;
}